        /* Arquivo de estilo */

        *{
            color:blueviolet;
            font-family: 'Open Sans', sans-serif;
        }

        h1 {
            color: red ! important;
            font-size: 150px;
            text-decoration: wavy;

        }

        p {
            color:green;
        }

        #diferente{
            color:blue;
        }

        .red{
            color:red;
        }

        div#container {
            border: 2px solid blue;
            padding: 1rem;
            width:400px;
            margin: 0 auto;
            border-radius:10rem;

            /*margin-top: 1rem;
            margin-right: 1.5rem;
            margin-bottom: 2rem;
            margin-left: 2.5rem;
            */
            background-color:skyblue;
        }

        div#imagem{
            height: 800px;
            border: 1px solid;
            background-image: url(images/elephant.jfif);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;  
        }

        div#absolute{
            width: 200px;
            height: 200px;
            position: absolute;
        }